
* {
    font-size: 1.2 rem;
    font-family:'Times New Roman', Times, serif;
}

.grid_main_container {
    display:grid;
    width: 90%;
    height: 90%;
    grid-template: 58% 42% / 33% 34% 33%;
}

.grid_form_container {
    border:1px solid brown;
    width: 90%;
    grid-area: 1 / 1 / 2 / 4;
    margin: auto;
    padding: 2%;

}
.grid_viewcards_container {
    border:1px solid brown;
    width: 90%;
    margin:2rem auto;
    display: flex;
    justify-content: center;
    grid-area: 2 / 1 / 3 / 4;
}

legend {
    text-align: center;
}

.card {
    margin: 2rem auto; 
}

.card_buttons {
    display: flex;
    justify-content:space-around;
    align-items: flex-end;
}

.form_buttons {
    
}